{% extends "attendance_tracker/neutral_base.html" %}
{% block content %}
	<div class="password-manage col-8 mx-auto">
		<legend class="border-bottom mb-4">Account Activated</legend>
		<div style="text-align:center">
			<h3><a class="mr-4" href="{% url 'attendance-home' %}">Attendance Tracker</a></h3>
		</div>
		<br>
		<div class="alert alert-success">
			Account Successfully Activated! 		
		</div>
		<P>Your account is now activated. You can Login Now.</P>
		<br>
		<div class="border-top pt-3">
			<p class="suggestion">Sign In?<a class="link ml-3" href="{% url 'login' %}">Sign In</a></p>
		</div>
	</div>
{% endblock content %}