{% extends "attendance_tracker/neutral_base.html" %}
{% block content %}
	<div class="password-manage col-8 mx-auto">
		<legend class="border-bottom mb-4"><i class="fa fa-spin fa-spinner" aria-hidden="true"></i>&nbsp;Password Reset Request Started</legend>
		<div style="text-align:center">
			<h3><a class="mr-4" href="{% url 'attendance-home' %}">Attendance Tracker</a></h3>
		</div>
		<br>
		<div class="alert alert-info">
			Note! - An email has been sent with instruction to reset your password.
		</div>
		<P>A password reset email has been sent to the email you entered. The email contains instructions to reset your password. You should receive it shortly.
		If you didn't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
		<br>
		<div class="border-top pt-3">
			<p class="suggestion">
				Like to Try Again? <a class="link ml-3" href="{% url 'password_reset' %}">Password Reset</a>
			</p>
		</div>
{% endblock content %}