{% extends "attendance_tracker/neutral_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="password-manage col-8 mx-auto">
		<legend class="border-bottom mb-4">Password Reset</legend>
		<div style="text-align:center">
			<h3><a class="mr-4" href="{% url 'attendance-home' %}">Attendance Tracker</a></h3>
		</div>
		<br>
		{% crispy form form.helper %}
		<br>
		<div class="border-top pt-3">
			<p class="suggestion">
				Cancel Password Reset? <a class="link ml-3" href="{% url 'login' %}">Sign In</a>
			</p>
		</div>
	</div>
{% endblock content %}
